<!DOCTYPE html>

<html lang="en">

<head>
    <title>Mongo-Python API</title>
</head>

<body>
    <h1>List of notes</h1>

    <form action="/" method="get">
        <button type="submit">Back</button>
    </form>
    <br>
    <form action="/notes/create" method="get">
        <button type="submit">Create note</button>
    </form>

    <ul>
        {% for note in notes %}
        <li>
            <h3>{{ note.title }}</h3>
            Date: {{ note.date }}
            <br><br>
            {{ note.content }}
            <br><br>
            <form action="/notes/delete" method="post">
                <input type="hidden" name="uuid" value="{{ note.uuid }}">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

</body>

</html>
